.chartContainer{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: center;
    flex-direction: row;
}
.chartContainer > div {
    background-color: #f1f1f1;
    margin: 15px;
    padding: 2px;
    font-size: 30px;
  }