.chartList{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: left;
    flex-direction: row;
 
}
.chartList > div {
    background-color: #f1f1f1;
    margin: 15px;
    padding: 2px;
    font-size: 30px;
  }

.chartContainer{
    width: 80%;
    margin: auto;
}